* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
#grandparent {
  height: 90vh;
  background-color: grey;
  padding: 100px;
}

#grandparent p {
  color: orange;
}

#grandparent > p {
  color: green;
}

#grandparent + p {
  color: blue;
}

#grandparent ~ p {
  color: red;
}

#parent {
  height: 100%;
  background-color: pink;
}
